@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-primary: #c8e0f0;
  --bg-secondary: #99cdcd;
  --text-primary: #22577a;
  --text-secondary: #38a3a5;
  --accent: #57cc99;
  --border: #38a3a5;
}

.dark {
  --bg-primary: #364958;
  --bg-secondary: #3b6064;
  --text-primary: #d3e3e5;
  --text-secondary: #c9e4ca;
  --accent: #55828b;
  --border: #3b6064
}

@theme {
  --color-bg-primary: var(--bg-primary);
  --color-bg-secondary: var(--bg-secondary);
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-accent: var(--accent);
  --color-border-color: var(--border);
}

@keyframes float{
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.floating {
  animation: float 4s ease-in-out infinite;
}

html{
  scroll-behavior:smooth;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
